retrieve.wsdl

<wsdl:definitions name="SyncXDSRepositoryRetrieve" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://tempuri.org/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
   <wsp:Policy wsu:Id="WSHttpBinding_DocumentRepositoryRetrieve_Service_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
            <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="true"/>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic256/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict/>
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
            <wsaw:UsingAddressing/>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsdl:types>
      <xsd:schema elementFormDefault="qualified">        
		 <xsd:element name="RetrieveDocumentSetRequest" type="MessageBody"/>
		 <xsd:element name="RetrieveDocumentSetResult" type="MessageBody"/>
		  <xsd:complexType name="MessageBody">
            <xsd:sequence>
               <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##any"/>
            </xsd:sequence>
         </xsd:complexType> 		
      </xsd:schema>
   </wsdl:types>   
   <wsdl:message name="DocumentRepositoryRetrieve_Service_RetrieveDocumentSet_InputMessage">
      <wsdl:part element="RetrieveDocumentSetRequest" name="paramters"/>
   </wsdl:message>
   <wsdl:message name="DocumentRepositoryRetrieve_Service_RetrieveDocumentSet_OutputMessage">
      <wsdl:part element="RetrieveDocumentSetResult" name="paramters"/>
   </wsdl:message>
   <wsdl:portType name="DocumentRepositoryRetrieve_Service">      
      <wsdl:operation name="RetrieveDocumentSet">
         <wsdl:input wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet" message="tns:DocumentRepositoryRetrieve_Service_RetrieveDocumentSet_InputMessage"/>
         <wsdl:output wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse" message="tns:DocumentRepositoryRetrieve_Service_RetrieveDocumentSet_OutputMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WSHttpBinding_DocumentRepositoryRetrieve_Service" type="tns:DocumentRepositoryRetrieve_Service">
     <!--  <wsp:PolicyReference URI="#WSHttpBinding_DocumentRepositoryRetrieve_Service_policy"/> -->
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>      
      <wsdl:operation name="RetrieveDocumentSet">
         <soap12:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SyncXDSRepositoryRetrieve">
      <wsdl:port name="WSHttpBinding_DocumentRepositoryRetrieve_Service" binding="tns:WSHttpBinding_DocumentRepositoryRetrieve_Service">
         <soap12:address location="https://dev.khie.healthinteractive.net/XDSRepositoryRetrieve"/>
         <EndpointReference>
            <Address>https://dev.khie.healthinteractive.net/XDSRepositoryRetrieve</Address>
         </EndpointReference>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>